@inherits LayoutComponentBase

<div class="page bg-gray-50 h-screen flex flex-col">
    <div class="sidebar bg-white shadow-sm">
        <NavMenu />
    </div>

    <main class="flex-1 overflow-y-auto">
        <div class="container mx-auto max-w-4xl py-4 px-4 md:px-0">
            @Body
        </div>
    </main>
</div>